<div class="content">

       <div class="grid1">
              <h2> As minhas Máquinas:</h2>

              <button mat-fab (click)="addMaquina()">
                     <mat-icon>add</mat-icon>
              </button>

              <div *ngIf="activeM">
                     <fieldset class="contentInput">
                            <mat-form-field [floatLabel]="'always'">
                                   <input matInput name="name" placeholder="Nome da máquina" [(ngModel)]="mObject.name"
                                          required>
                            </mat-form-field>

                            <mat-form-field [floatLabel]="'always'">
                                   <mat-label>Tipo de máquina</mat-label>
                                   <mat-select [(ngModel)]="mObject.tipoMaquinaId">
                                          <mat-option *ngFor="let tp of tiposmaquinas" [value]="tp.tipoMaquinaId">
                                                 {{tp.name}}</mat-option>
                                   </mat-select>
                            </mat-form-field>

                            <button mat-button (click)="createMaquina()"> Criar Máquina </button>
                     </fieldset>
              </div>

              <div class="search1">
                     <mat-form-field class="search">
                            <input matInput placeholder="Maquinas do tipo de maquina" [(ngModel)]="tmNameFind1">
                     </mat-form-field>
                     <button mat-fab (click)="filterMaquinaPopUp()">
                            <mat-icon>search</mat-icon>
                     </button>
              </div>




              <table mat-table [dataSource]="maquinas" class="tableGroup">

                     <ng-container matColumnDef="nomeM">
                            <th mat-header-cell *matHeaderCellDef> Nome </th>
                            <td mat-cell *matCellDef="let maquinas">
                                   <span> {{maquinas.name}} </span>
                            </td>
                     </ng-container>

                     <ng-container matColumnDef="tipoM">
                            <th mat-header-cell *matHeaderCellDef> Tipo de Máquina </th>
                            <td mat-cell *matCellDef="let maquinas">
                                   <span> {{maquinas.tmName}}</span>
                            </td>
                     </ng-container>

                     <ng-container matColumnDef="editM">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let maquinas">
                                   <button mat-fab class="buttonEdit" (click)="popUpWindowMaquina(maquinas.maquinaId)">
                                          <mat-icon>edit</mat-icon>
                                   </button>
                            </td>
                     </ng-container>

                     <tr mat-header-row *matHeaderRowDef="displayedColumnsM"></tr>
                     <tr mat-row class="elementTable" *matRowDef="let row; columns: displayedColumnsM;"></tr>
              </table>
       </div>

       <div class="grid2">

              <h2> Os meus Tipos de Máquina:</h2>

              <button mat-fab (click)="addTipoMaquina()">
                     <mat-icon>add</mat-icon>
              </button>

              <div *ngIf="activeTM">
                     <fieldset class="contentInput">
                            <mat-form-field [floatLabel]="'always'">
                                   <input matInput name="name" placeholder="Nome " [(ngModel)]="tpObject.name" required>
                            </mat-form-field>

                            <mat-form-field [floatLabel]="'always'">
                                   <input matInput name="desc" placeholder="Descrição" [(ngModel)]="tpObject.desc"
                                          required>
                            </mat-form-field>

                            <mat-form-field [floatLabel]="'always'">
                                   <mat-label> Selecione as operações</mat-label>
                                   <mat-select multiple [(ngModel)]="operacoesF">
                                          <mat-option *ngFor="let op of operacoes" [value]="op">{{op.name}}</mat-option>
                                   </mat-select>
                            </mat-form-field>

                            <button mat-button (click)="createTipoMaquina()"> Criar Tipo Maquina</button>
                     </fieldset>
              </div>

              <div class="search1">
                     <mat-form-field class="search">
                            <input matInput placeholder="Operações do tipo de maquina" [(ngModel)]="tmNameFind2">
                     </mat-form-field>
                     <button mat-fab (click)="filterOperacaoPopUp()">
                            <mat-icon>search</mat-icon>
                     </button>
              </div>

              <table mat-table [dataSource]="tiposmaquinas" class="tableGroup">
                     <ng-container matColumnDef="nomeTM">
                            <th mat-header-cell *matHeaderCellDef> Nome </th>
                            <td mat-cell *matCellDef="let tiposmaquinas">
                                   <span> {{tiposmaquinas.name}} </span>
                            </td>
                     </ng-container>

                     <ng-container matColumnDef="descTM">
                            <th mat-header-cell *matHeaderCellDef> Descrição </th>
                            <td mat-cell *matCellDef="let tiposmaquinas">
                                   <span> {{tiposmaquinas.desc}}</span>
                            </td>
                     </ng-container>

                     <ng-container matColumnDef="listOp">
                            <th mat-header-cell *matHeaderCellDef> Lista Operações </th>
                            <td mat-cell *matCellDef="let tiposmaquinas">
                                   <div *ngFor="let op of tiposmaquinas.listOperacoes">
                                          <span> {{op.name}}</span>
                                   </div>
                            </td>
                     </ng-container>


                     <ng-container matColumnDef="edit">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td mat-cell *matCellDef="let tiposmaquinas">
                                   <button mat-fab class="buttonEdit"
                                          (click)="popUpWindowTipoMaquina(tiposmaquinas.tipoMaquinaId)">
                                          <mat-icon>edit</mat-icon>
                                   </button>
                            </td>
                     </ng-container>

                     <tr mat-header-row *matHeaderRowDef="displayedColumnsTM"></tr>
                     <tr mat-row class="elementTable" *matRowDef="let row; columns: displayedColumnsTM;"></tr>
              </table>


       </div>
</div>