<mat-toolbar>
    <h2 *ngIf = "clientState == 0" class = "title">MyOwnCutlery</h2>
    <!--center bar -->
    <button mat-fab   *ngIf = "clientState == 1 || clientState == 2" class="homeButton" routerLink="/home">
        <mat-icon> home </mat-icon>
    </button>
    <button mat-fab  *ngIf = "clientState == 1 || clientState == 2"  class="homeButton" routerLink="/user-profile">
        <mat-icon> person </mat-icon>
    </button>
    <!-- nav buttons -->
    <button mat-button *ngIf = "clientState == 1 || clientState == 2"  class="buttonMain" routerLink="/encomendas-list"> Encomendas</button>
    <button mat-button *ngIf = "clientState == 1"  class="buttonMain" routerLink="/encomendas"> Store</button>
    <button mat-button *ngIf = "clientState == 2"  class="buttonMain" routerLink="/linhas-producao"> Linhas de Produção </button>
    <button mat-button *ngIf = "clientState == 2"  class="buttonMain" routerLink="/maquinas"> Maquinas </button>
    <button mat-button *ngIf = "clientState == 2"  class="buttonMain" routerLink="/operacoes"> Operações </button>
    <button mat-button *ngIf = "clientState == 2"  class="buttonMain" routerLink="/produtos"> Produtos </button>

    <button mat-fab  *ngIf = "clientState == 1 || clientState == 2"  class="logOutButton" (click) = "logout()" >
        <mat-icon>logout </mat-icon>
    </button>
</mat-toolbar>