<div class="content">

  <h2>As minhas Linhas de Produção: </h2>

  <button mat-fab (click)="addLinhaProducao()">
    <mat-icon>add</mat-icon>
  </button>


  <div *ngIf="active">

    <fieldset class="contentInput">
      <mat-form-field [floatLabel]="'always'">
        <input matInput name="name" placeholder="Nome da linha de produção" [(ngModel)]="lpObject.name" required>
      </mat-form-field>

      <mat-form-field [floatLabel]="'always'">
        <mat-label>Maquinas da linha</mat-label>
        <mat-select multiple [(ngModel)]="lpObject.maquinas">
          <mat-option *ngFor="let m of  listaMaquinas" [value]="m">{{m.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-button (click)="linhaUpdate()"> Criar Linha </button>
    </fieldset>

  </div>
  <div class="linhaProducao" *ngFor="let linha of linhasProducao; let i = index">

    <h3>{{linha.name}}</h3>

    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event, i)">
      <div class="example-box" *ngFor="let maquina of linha.maquinas" cdkDrag>
        {{maquina.name}}
        <div *ngIf="maquina.name === 'Furador'">
          <img *cdkDragPreview src="../../../assets/maquinas/furador.png">
        </div> 

         <div *ngIf="maquina.name === 'Extrosor'">
          <img *cdkDragPreview src="../../../assets/maquinas/extrosor.png">
        </div>

        <div *ngIf="maquina.name === 'Injetor'">
          <img *cdkDragPreview src="../../../assets/maquinas/injetor.png">
        </div>

        <div *ngIf="maquina.name === 'Torno'">
          <img *cdkDragPreview src="../../../assets/maquinas/torno.png">
        </div>

        <div *ngIf="maquina.name === 'Fresadora'">
          <img *cdkDragPreview src="../../../assets/maquinas/fresadora.png">
        </div>
      </div>
    </div>

  </div>







</div>