.content{
    width: 100%;
    min-height: 100%;
    padding-top: 100px;
    background : rgb(42, 41, 41);
}


.matCardUser{ 
    background: rgba(14, 78, 43, 0.632);
    margin-left: 37%;
    display: inline-block;
    margin-top: 0;
    width: 400px; 
    height: 600px;
    border: solid 7px;
    border-color: white;

    img{
        width: 250px;
        height: 250px;
        margin-left: 70px;
    }
}



.containerImg{
    background: transparent;
    margin-bottom: 10px;
}


.buttonCamp{ 
    position: relative; 
    top: 10px;
    left: 310px;

   button{
        color: white;
        background:  rgba(5, 5, 5, 0.632);
       }
    }


 
mat-form-field{
    color: black;
    margin-left: 10px;
    margin-top: 8px;
    margin-right: 10px;
     width: 90%;
    input{
        color: white;
     }
  }


  .cotain{
    position: absolute;
    margin-top:0;
    width: 100%;
    height: 100%;
    background-image: url('https://wallpaperplay.com/walls/full/f/0/0/91299.jpg');

    .welcomeHome{ 
        margin-left: 25%;
        margin-top: 120px;
        color: white;
        font-size: 60px;
    }

    mat-icon{
        margin-top: 80px;
        margin-left: 1200px;
        width: 250px;
        height:250px;
        font-size: 250px;
        color:rgba(204, 202, 202, 0.632);
        transform-origin: center center;
        animation: rotate 5s infinite;

    }
}


@keyframes rotate {
    from {
         transform: rotate(0deg); 
        }
    to {
        transform: rotate(360deg);
     }
}


h2{
    color: rgb(218, 212, 212);
}



.iconR{
    display: inline-block;
    margin-top: 80px;
     margin-left: 30px;
    width: 250px;
    height:250px;
    font-size: 250px;
    color:rgba(204, 202, 202, 0.632);
    transform-origin: center center;
    animation: rotate 5s infinite;
}

.iconR2{
    position: absolute;
    top: 300px;
    margin-left: 25%;
    margin-right: 30px;
    width: 200px;
    height:200px;
    font-size: 200px;
    color:rgba(204, 202, 202, 0.632);
    transform-origin: center center;
    animation: rotate 5s infinite;

}

.multipleCard{
    background: rgba(14, 78, 43, 0.632);
    // margin-left: 37%;
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    width: 400px; 
    height: 600px;
    border: solid 7px;
    border-color: white;

    img{
        width: 250px;
        height: 250px;
        margin-left: 70px;
    }

}   




.buttonCamp2{ 
    position: relative; 
    top: 10px;
    left: 310px;

   button{
        color: white;
        background:  rgba(5, 5, 5, 0.632);
       }
    }

    .finder{
        margin-bottom: 30px;
    }
